.example-header-image {
	background-image: url('../../../favicon.ico');
	background-size: cover;
}

.image-container {
	display: flex;
	margin: auto;
	padding: 20px;
	justify-content: center;
}

.mat-mdc-form-field {
	font-size: 14px;
	width: 100%;
}

.more-button {
	position: absolute;
	top: 5px;
	right: 10px;
}
